.password-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    width: 100%;
}
.android-icon{
    font-size: 100px;
    margin-bottom:-20px;   
    color:#3ddc84 ;
}

.main-hero{
    border: 2px solid grey;
    border-radius: 4px;
    display: flex;
    overflow: hidden;
    width: 31.25rem;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}


button.copy{
    border: none;
    background-color: #fff;
    cursor: pointer;
}

input[type="text"]{
    border:none;
    outline: none;
    width:100%;
    height: 50px;
    font-size: 1.25rem;
    text-align: left;
    font-family: "Source Code Pro";
    font-weight: 600;

}

.copy-icon-container{
  position: relative;
  display: inline-block 
}

.tooltip{
  position: absolute;
  top: -60px;
  left: 260px;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
}

.copy-icon{
    font-size: 1.5rem;
    color: #3c3c3c;
}

@media screen and (max-width: 579px) {
  .main-hero{
    width: 100%;
  }
  input[type="text"]{
    font-size: 1.02em;
  }
  .password-container{
    margin-top: 5px;
  }
}
